* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px
}

.container {
    margin: 0 auto;
    width: 1140px
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;

}

.header_form {
    height: 38px;
    display: flex;
    align-items: center;
    margin-left: 37px
}

.browse {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #e8e8e8;
    /*background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);*/
    text-align: center;
    line-height: 38px;

    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.browse:hover {
    background-color: #cdcdcc;
    /*color: #e8e8e8;*/
    border: 1px solid #cdcdcc;
}

.botton_pinc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #f16d7f;
    text-align: center;
    border: 1px solid #f16d7f;

}

.botton_pinc:hover {
    color: #f16d7f;
    background-color: #ffffff;
}

.botton_up {

    letter-spacing: 0.38px;
    line-height: 38px;
    height: 38px;
    padding-left: 19px;
    padding-right: 19px;
}



.botton_under {
    letter-spacing: 0.38px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 48px;
    width: 145px;
    height: 48px;


}

.header-cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #ffffff;
}



.menu--link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo-container {
    background-image: url(img/brand_back.jpg);
    height: 100%;
    background-position: 0 -51px;


}

.promo--big {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 15px;
}

.promo--mini {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
}

.pink {
    color: #f16d7f;
}

.promo--content {
    margin-top: 223px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.brand_text {
    padding-top: 9px;
    padding-left: 13px;
}

.d_pink {
    color: #f16d7f;
    font-weight: 700;
    letter-spacing: 0.68px;
}

.header-left-input {
    height: 38px;
    width: 317px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding-left: 14px;
    padding-right: 51px;
    border-right-style: none;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

}




.header-left-submit {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    border-left-style: none;
    letter-spacing: 0.35px;
    height: 40px;
    width: 36px;

    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

    position: relative;
    right: 36px;

}

.header-left-submit:hover {
    color: #ffffff;
    background-color: #cdcdcc;
    border: 1px solid #e6e6e6;
}

.categories_1 {
    background-image: url(img/categories1.png);
    height: 516px;
    width: 560px;
    padding-top: 26px;
}

.categories_2 {
    background-image: url(img/categories2.png);
    background-repeat: no-repeat;
    background-color: #dadad2;
    background-position-x: 149px;
    height: 235px;
    width: 560px;
    padding-top: 26px;
}

.categories_3 {
    background-image: url(img/categories3.png);
    height: 235px;
    width: 560px;
    padding-top: 26px;
}

.categories_4 {
    background-image: url(img/categories4.png);
    height: 516px;
    width: 560px;
    padding-top: 26px;
}

.categories {
    height: 823px;
    padding-top: 98px;
}

.categories_block {
    display: block;
    background-color: #ffffff;
    height: 50px;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 19px;
    padding-bottom: 19px;

}

.categories_text {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.categories_text_pink {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.categories-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.head_products_text_max {
    color: #222222;
    font-size: 30px;
    font-weight: 700;

    letter-spacing: 0.75px;
    text-align: center;
}

.head_products_text_min {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 0.35px;
    text-align: center;
}

.head_products {
    padding-top: 100px;
}



.products_block {
    /*height: 342px;*/
    width: 261px;
    text-decoration: none;
    position: relative;
    margin-bottom: 39px;

}

.products_block:hover .product-add {
    visibility: visible;

}

.products_block:hover .product_img {
    filter: brightness(40%)
}

.products_block:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

}

.products {

    padding-top: 60px;
}

.product-text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    /*line-height: 45px;*/


}

.products_text_pink {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    padding-top: 17px;

}

.products-flex {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


.under_products {
    height: 48px;
    padding-top: 79px;
    display: flex;
    align-items: center;
    justify-content: center;

}



.offer-content {
    height: 78px;
    width: 300px;
    float: left;
    padding-top: 146px;
    padding-left: 39px;

}

.offer {
    padding-top: 113px;
    height: 529px;
    padding-bottom: 97px;
}
}

.offer--text-d {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.offer-container {
    height: 100%;
    background-color: #222224;
    background-image: url(img/offer.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.offer--text-up {
    color: #ffffff;
    font-size: 52px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.subscribe {
    height: 100%;
    background-image: url(img/subscribe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;

}

.subscribe-box {

    height: 438px;

}

.quote {
    display: flex;
    width: 497px;
    margin-top: 111px;
}

.subscribe-flex {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
}

.under_right {
    display: flex;
    justify-content: space-between;
    height: 260px;
    width: 608px;
    padding-right: 42px;
    padding-left: 64px;
}

.under-flex {
    display: flex;
}

.under-left {
    display: flex;
    height: 260px;
    width: 428px;
    flex-wrap: wrap;
}

.underground-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.underground {
    background-color: #e6e6e6;
    height: 79px;
}

.quote-img {
    height: 83px;
    width: 83px;

}

.quote-submit {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    height: 46px;
    width: 174px;
    border: 1px solid #e6e6e6;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    position: relative;
    right: 90px;
}

.quote-submit:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.quote-input {
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;

    width: 386px;
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    border: 1px solid #e6e6e6;
    padding-left: 28px;
    padding-right: 118px;

}

.offer-right {
    width: 337px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 48px 0 66px 0;
}

.quote-text {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    line-height: 28px;
}

.quote-name-pink {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: 19px;
}

.quote-name {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.quote-name-up {
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;

}

.quote-name-d {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-transform: uppercase;

}

.subscribe-right {
    text-align: center;
    height: 100%;
    width: 479px;
    padding-left: 91px;

    border-left: 1px solid #ffffff;
}

.under-text {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.under-text-box {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    line-height: 24px;
}

.under {
    padding-top: 109px;
    height: 349px;
}

.under-nav-h2 {

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.under-menu--list {}

.under-menu--link {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.under-menu--link:hover {
    color: #f16d7f;
}

.under-menu {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 179px;
}

.underground-text {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.underground-right {
    width: 191px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.offer-text {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 23px
}

.offer-h2 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;

}

.offer-h2-product {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 36px;
    padding-bottom: 10px
        

}
.offer-h2-product:hover {
    color: #ef5b70;

        

}

.offer-link {
    /*background-color: #f16d7f;*/
    height: 40px;
}

.offer-right-list {
    height: 102px;
    width: 304px;
    display: flex;

}

.offer-list {
    height: 102px;
    padding-bottom: 45px;
   

}

.offer-right-text {
    padding-left: 30px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 22px;
}

.quote-next-box {
    margin-left: 28px;
}

.product-text-box {
    padding-top: 20px;
    padding-left: 14px;
}

.product-add {
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;

    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 70px;
    top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}

.product-add:hover {
    box-shadow: 0 0 5px #fff;
}

.quote-box {
    display: flex;
    margin-top: 35px;
}

.quote-name-text {
    width: 386px;
    padding-top: 148px;
}

.subscribe-left {
    height: 100%;
}

.line {
    margin-left: 111px;
}

.network {
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.4px;
    text-align: center;

}

.network:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}



.fab {
    margin-top: 8px;
}

.services {
    background-color: #222224;
    height: 252px;
    padding-top: 89px;
}

.services-flex {
    display: flex;
    justify-content: space-between;
}

.promo-produkts-flex {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-produkts {
    height: 148px;
    background-color: #f8f3f4;
    margin-bottom: 59px;
}

.promo-produkts-left {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo-produkts-right {
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.promo-produkts-right:hover {
    color: #f16d7f;
}

.promo-produkts-right-pink {
    color: #f16d7f;

    font-weight: 700;
}

.catalog-flex {
    display: flex;
    justify-content: space-between;

}

.sidebar {

    width: 243px;
}

.catalog-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 848px;
}

.top-filter {
    width: 848px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 58px;
}

.filter-h {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.label-size {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #ffffff;
    padding-right: 9px;
}

.label-size:hover {
   color: #f16d7f;
}



#range {
    width: 263px;
}

.filter {
    width: 263px;
}

.size-flex {
    display: flex;
    flex-wrap: wrap;
}

.size-box {
    width: 60px;
    margin-bottom: 7px;
}

.hide {
    display: none;
    width: 100%;
}

.hide + label ~ div {
    display: none;
}

/* оформляем текст label */
.hide + label {
    cursor: pointer;


    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.hide + label:hover {
    color: #ef5b70;
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
}

.sidebar-li {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 18px;
}

.sidebar-link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
}

.sidebar-link:hover {
    color: #f16d7f;
}

.hide-sidebar {
    border-left: 5px solid #f16d7f;
    border-bottom: 1px solid #ebebeb;
    height: 27px;
    padding-top: 10px;
    padding-left: 11px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}


.box-sidebar {
    margin-bottom: 18px;
}

.trending-linc {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;

}

.trending-linc:hover {
    color: #f16d7f;


}

.tranding-text {
    font-size: 14px;
    font-weight: 400;
    color: #dfdfdf;
}

.trending-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 85px;
    padding-bottom: 12px;

}

.text-alig-center {
    text-align: center;
}

.sort-box {
    width: 846px;
    background-color: #f3f3f3;
    display: flex;
    padding-left: 9px;
    height: 50px;

    align-items: center;

}





.sort-select {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    min-width: 60px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.sort-name {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.fieldset-sort {
    display: contents;
}

.sort-box-select {
    background-color: #ffffff;

    height: 30px;
    border: 1px solid #ebebeb;
    margin-right: 12px;

}

.botton_white {
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    padding-left: 46px;
    padding-right: 46px;
        line-height: 42px;
    height: 42px;
}

.botton_white:hover {
    color: #ffffff;
    border: 1px solid #ef5b70;
    background-color: #ef5b70;
 
}

.nav-product {
    margin-left: 287px;
    width: 261px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;


}

.menu-nav-product {
    display: flex;
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

}

.nav-number {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
}

.nav-number:hover {
    color: #ef5b70;


}



.under_catalog {
    height: 44px;
    padding-top: 43px;
    padding-bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .drop {
    border-radius: 5px;
background-color: #ffffff;
    padding: 12px 20px 20px;
    border: 1px solid #ebebeb; 
     display: none;
     position: absolute;
     top: 48px;
    left: -5px;
    
}

 .drop::before {
content: "";
    width: 13px;
    height: 13px;
background-color: #ffffff;   
     position: absolute;
     top: -6px;
     left: 48px;
     transform: rotate(45deg);
     border-left: 1px solid #ebebeb; 
     border-top: 1px solid #ebebeb; 
     
     
}


.drop-linc {
    color: #646464;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.35px;
    line-height: 28px;
}
.drop-linc:hover {
    color: #ef5b70;
    

}

.drop-h3 {
    border-bottom: 1px solid  #e8e8e8; 
        color: #232323;
        acolor: #232323;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;

letter-spacing: 0.35px; 
    padding-bottom: 8px;
    margin-bottom: 8px;
       padding-top: 8px;
  
    
}

.drop-flex {
    width: 235px;
    margin-right: 34px;
}
.drop-flex:last-of-type {
    
    margin-right: 0px;
}

.menu--list {
    position: relative;
}

.menu--list:hover .drop {
    display: flex;
}



.offer-img-box {
    height: 40px;
}
